@import "tailwindcss";
@plugin "daisyui";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@keyframes marquee {
0% {
transform: translateX(0);
}

100% {
transform: translateX(-50%);
}
}









@keyframes expandMenu {
  from {
    max-height: 0;
    opacity: 0;
  }

  to {
    max-height: 500px;
    opacity: 1;
  }
}

.animate-expandMenu {
  animation: expandMenu 0.4s ease forwards;
}



















